.App {
  text-align: center;
  /* background: rgb(178, 185, 185); */
  padding: 20px;
  box-sizing: border-box;
  width: 600px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.editButton {
  height: 30px;
  margin: 0px 15px;
  width: 150px;
  background: #00ffeb;
  border: none;
  border-radius: 7px;
}

.updateButton {
  height: 30px;
  margin: 0px 15px;
  width: 150px;
  background: #00ff4c;
  border: none;
  border-radius: 7px;
}

.deleteButton {
  height: 30px;
  width: 150px;
  background: #ff0000;
  border: none;
  border-radius: 7px;
}

.item {
  width: 100%;
  text-align: start;
  font: italic 1.2em "Fira Sans", serif;
  box-sizing: border-box;
  margin: 10px;
  color: rgb(255, 0, 0);
  overflow: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
  margin: 15px auto;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.container {
  height: 466px;
  overflow: auto;
  width: 400px;
  margin: auto;
  margin-top: 15px;
}

.editInput {
  background-color: rgb(214, 227, 235);
  color: white;
  border: none;
  outline: none;
  height: 30px;
  width: 300px;
  font: italic 1.2em "Fira Sans", serif;
}

.addInput {
  background-color: rgb(171, 174, 176);
  color: white;
  border: none;
  outline: none;
  height: 30px;
  width: 300px;
  font: italic 1.2em "Fira Sans", serif;
}

.addButton {
  height: 35px;
  width: 275px;
  background-color: rgb(7, 215, 247);
  font: italic 1.2em "Fira Sans", serif;
  border-radius: 10px;
  color: white;
  border: none;
  margin-top: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
.container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.container::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  background: rgb(89, 0, 255);
  border-radius: 10px;
}
